<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>My FavMovie</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<!-- <link rel="stylesheet" href="style.css"> -->
	    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<img src="https://image.tmdb.org/t/p/w300/imekS7f1OuHyUP2LAiTEM0zBzUz.jpg" alt="">
				</div>
				<div class="col-sm-8"></div>
			</div>
		</div>
	</body>
</html>